:root {
  /* Colors - Cream Theme */
  --background: #faf1e3;
  --foreground: #111111;
  --primary: #957139;
  --primary-foreground: #ffffff;

  --card: #ffffff;
  --card-foreground: #111111;
  --card-border: #957139;

  --accent: #f2f3f0;
  --accent-foreground: #111111;

  --destructive: #cc0000;
  --destructive-foreground: #ffffff;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 11px;
  --radius-lg: 16px;
  --radius-pill: 999px;

  /* Fonts */
  --font-primary: var(--font-inria-serif);
  --font-secondary: var(--font-inter);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-secondary), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary), serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
