.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.footerText {
    margin-top: 24px;
    font-family: var(--font-secondary);
    font-size: 12px;
    color: #957139;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    display: block;
}
