.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    border-radius: 999px;
    border: 1px solid #957139;
    background-color: transparent;
    color: #957139;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100%;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background-color: #95713910;
}
